pandas
matplotlib
numpy

scikit-learn
kmodes
jupyter
seaborn

psycopg2-binary

keplergl
pydeck
scikit-mobility

tabulate
plotly

PyCaret

pysal
rasterio
shapely
fiona

folium
geopy
geopandas

xarray

geemap